<div>
    <widget data-name="editor"></widget>
    <template data-name="ed">
        <div class="platform-editor panel">
            <div class="content-area">
                <div class="form" data-id="container"></div>
            </div>
            <div class="action-area">
                <div class="button -accent" data-id="confirm">
                    更新
                </div>
            </div>
        </div>
    </template>
</div>

<style>
    .platform-editor {
        width: 400px;
    }
</style>