<div class="form-control">
    <div class="label-area">
        <div class="label">
            {{displayName}}
        </div>
        <div class="hint">
            {{hint}}
        </div>
    </div>
    <div class="control-area">
        <div class="text-field-group -compact">
            <div class="field-area">
                <input type="number" class="text-field" placeholder="请输入{{displayName}}" data-id="input">
            </div>
            <div class="addon-area">
                {{unit}}
            </div>
        </div>
    </div>
</div>